<!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div *ngIf="UserLogin" class="app-sidebar__user">
        <img *ngIf="UserLogin.image" class="app-sidebar__user-avatar" [src]="UserLogin.image" alt="User Image">
        <img *ngIf="!UserLogin.image" class="app-sidebar__user-avatar" src="assets/images/noprofile.png" alt="User Image">
        <div class="app-sidebar-ud">
            <p class="app-sidebar__user-name">{{ UserLogin.firstname }} {{ UserLogin.lastname }} </p>
            <p class="app-sidebar__user-designation"> {{ UserLogin.position }} </p>
        </div>
    </div>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item" [routerLink]="['/', AppURL.Authen, AuthURL.Home]" routerLinkActive="active">
                <i class="app-menu__icon fa fa-home"></i>
                <span class="app-menu__label">Home</span>
            </a>
        </li>
        <li class="treeview" routerLinkActive="is-expanded">
            <a class="app-menu__item" href="#" data-toggle="treeview">
                <i class="app-menu__icon fa fa-users"></i>
                <span class="app-menu__label">Member</span>
                <i class="treeview-indicator fa fa-angle-right"></i>
            </a>
            <ul class="treeview-menu">
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.MemberCreate]" routerLinkActive="active">
                        <i class="icon fa fa-circle-o"></i> Add members</a>
                </li>
                <li>
                    <a class="treeview-item" [routerLink]="['/', AppURL.Authen, AuthURL.Member]" routerLinkActive="active">
                        <i class="icon fa fa-circle-o"></i> Member List</a>
                </li>
            </ul>
        </li>
    </ul>
</aside>